<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Modifier une Location</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Lien vers Bootstrap -->
</head>
<body>
<div class="container">
  <h1>Modifier une Location</h1>
  <form th:action="@{/update-location (id=${location.id})}" th:object="${location}" method="post">
    <div class="form-group">
      <label>Voiture:</label>
      <select th:field="*{voiture}" class="form-control" required>
        <option th:each="voiture : ${voitures}"
                th:value="${voiture.id}"
                th:text="${voiture.modele}">Sélectionner une voiture</option>
      </select>
    </div>
    <div class="form-group">
      <label>Date Début:</label>
      <input type="date" th:field="*{dateDebut}" class="form-control" required />
    </div>
    <div class="form-group">
      <label>Date Fin:</label>
      <input type="date" th:field="*{dateFin}" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Mettre à jour</button>
  </form>
  <a href="/location-detail" class="btn btn-link mt-3">Retour à la liste des locations</a>
</div>
</body>
</html>
